.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    background-color: #3c3d43;
    color: #a4cdf1;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 12px;
    margin-left: 12px;
}

.headerTitleContainer {
    display: flex;
    align-items: center;
    margin-right: 40px;
    color: #a4cdf1;
    text-decoration: none;
}

.headerLogo {
    height: 40px;
}


.headerIcon {

    height: 64px;

    width: 64px;

    margin-left: 36px;

}

.headerTitle {
    margin-left: 12px;
    font-weight: 600;
}

.headerNavList {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.headerNavPageLink {
    color: #a4cdf1;
    text-decoration: none;
    opacity: 0.75;

    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    transition-duration: 500ms;
    transition-property: opacity;
}

.headerNavPageLink:hover {
    opacity: 1;
}

.headerNavPageLinkActive {
    color: #a4cdf1;
    text-decoration: none;
}

.headerNavLeftMargin {
    margin-left: 20px;
}

.headerRightText {
    font-weight: normal;
    margin-left: 40px;
}

.microsoftLogo {
    height: 23px;
    font-weight: 600;
}

.githubLogo {
    height: 20px;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .headerContainer {
        justify-content: space-between;
        margin-right: 6px;
        margin-left: 6px;
    }

    .headerTitleContainer {
        margin-right: auto; /* Resets margin to distribute space */
    }

    .headerIcon {
        height: 48px; /* Smaller icon on mobile */
        width: 48px;
        margin-left: 12px; /* Less margin on mobile */
    }

    .headerTitle {
        margin-left: 8px; /* Less margin on mobile */
        font-size: 1.2rem; /* Smaller font size on mobile */
    }

    .headerNavList {
        display: none; /* Hide navigation links on mobile */
    }

    .headerRightText {
        display: none; /* Hide right text on mobile */
    }
}